/* ######################################################################### */
.t-centered-fixed-content {
  padding: 0 15px;
  box-sizing: content-box;
  display: block;
  min-width: 300px;
}
.t-centered-fixed-content .t-content {
  display: block;
  width: 300px;
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 330px) {
  .t-centered-fixed-content {
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .t-centered-fixed-content .t-content {
    flex: 0 0 300px;
  }
}
/* ######################################################################### */
.t-centered-fixed-content-and-right-text-with-margin-left {
  padding: 0 15px;
  box-sizing: content-box;
  display: block;
  min-width: 500px;
}
.t-centered-fixed-content-and-right-text-with-margin-left .t-border {
  display: block;
  min-width: 180px;
  margin-left: 0px;
  margin-right: 0px;
}
.t-centered-fixed-content-and-right-text-with-margin-left .t-empty-border {
  display: block;
  width: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.t-centered-fixed-content-and-right-text-with-margin-left .t-content, .t-centered-fixed-content-and-right-text-with-margin-left .t-text {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.t-centered-fixed-content-and-right-text-with-margin-left .t-text .t-hiddeable {
  display: none;
}

@media (min-width: 740px) {
  .t-centered-fixed-content-and-right-text-with-margin-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-border {
    flex: 1 0 1px;
    width: 180px;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-empty-border {
    flex: 1 0 1px;
    width: 0px;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-content-text {
    flex: 0 0 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 15px;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-content, .t-centered-fixed-content-and-right-text-with-margin-left .t-text {
    flex: 0 0 100%;
    width: 100%;
    padding: 0 0;
  }
}
@media (min-width: 1040px) {
  .t-centered-fixed-content-and-right-text-with-margin-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-border {
    flex: 0 0 180px;
    width: 180px;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-empty-border {
    flex: 1 0 0px;
    width: 0px;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-content-text {
    flex: 0 0 830px;
    width: 830px;
    padding: 0 0;
    /* other properties are same as of smaller media */
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-content {
    flex: 0 0 300px;
    width: 300px;
    padding: 0 15px;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-text {
    flex: 0 0 500px;
    width: 500px;
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-text .t-hiddeable {
    display: block;
  }
}
@media (min-width: 1220px) {
  .t-centered-fixed-content-and-right-text-with-margin-left {
    /* Same as of smaller media */
    /* 
    	.t-content-text : Same as of smaller media
    	.t-content : Same as of smaller media
    	.t-text : Same as of smaller media
    */
  }
  .t-centered-fixed-content-and-right-text-with-margin-left .t-border, .t-centered-fixed-content-and-right-text-with-margin-left .t-empty-border {
    flex: 1 0 180px;
    width: 180px;
  }
}
/* ######################################################################### */
.t-centered-fixed-content-with-margin-left {
  padding: 0 15px;
  box-sizing: content-box;
  display: block;
  min-width: 300px;
}
.t-centered-fixed-content-with-margin-left .t-border {
  display: block;
  min-width: 180px;
  margin-left: 0px;
  margin-right: 0px;
}
.t-centered-fixed-content-with-margin-left .t-empty-border {
  display: block;
  width: 0;
  margin-left: 0px;
  margin-right: 0px;
}
.t-centered-fixed-content-with-margin-left .t-content {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 540px) {
  .t-centered-fixed-content-with-margin-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .t-centered-fixed-content-with-margin-left .t-border {
    flex: 0 0 180px;
    width: 180px;
  }
  .t-centered-fixed-content-with-margin-left .t-empty-border {
    flex: 1 0 0px;
    width: 0px;
  }
  .t-centered-fixed-content-with-margin-left .t-content {
    flex: 0 0 300px;
    width: 300px;
    padding: 0 15px;
    display: block;
  }
}
@media (min-width: 720px) {
  .t-centered-fixed-content-with-margin-left {
    /* Same as of smaller media */
    /* .t-content : Same as of smaller media */
  }
  .t-centered-fixed-content-with-margin-left .t-border, .t-centered-fixed-content-with-margin-left .t-empty-border {
    flex: 1 0 180px;
    width: 180px;
  }
}
/* ######################################################################### */
.t-centered-fixed-content-with-right-text, .t-left-fixed-content-with-right-text {
  padding: 15px;
  display: block;
  min-width: 500px;
}

.t-centered-fixed-content-with-right-text .t-content, .t-centered-fixed-content-with-right-text .t-text,
.t-left-fixed-content-with-right-text .t-content, .t-left-fixed-content-with-right-text .t-text {
  display: block;
  width: 500px;
  padding: 0 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.t-left-fixed-content-with-right-text .t-content, .t-left-fixed-content-with-right-text .t-text {
  width: 500px;
  margin-left: unset;
}

.t-centered-fixed-content-with-right-text .t-text .t-hiddeable,
.t-left-fixed-content-with-right-text .t-text .t-hiddeable {
  display: none;
}

@media (min-width: 815px) {
  .t-centered-fixed-content-with-right-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .t-centered-fixed-content-with-right-text .t-content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    width: 300px;
    padding: 0 15px;
    margin-left: unset;
    margin-right: unset;
  }
  .t-centered-fixed-content-with-right-text .t-text {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 500px;
    width: 500px;
    padding: 0 0;
    margin-left: unset;
    margin-right: unset;
  }
  .t-centered-fixed-content-with-right-text .t-text .t-hiddeable {
    display: block;
  }
}
@media (min-width: 915px) {
  .t-left-fixed-content-with-right-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .t-left-fixed-content-with-right-text .t-content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 400px;
    width: 400px;
    padding: 0 15px;
    margin-left: unset;
    margin-right: unset;
  }
  .t-left-fixed-content-with-right-text .t-text {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 500px;
    width: 500px;
    padding: 0 0;
    margin-left: unset;
    margin-right: unset;
  }
  .t-left-fixed-content-with-right-text .t-text .t-hiddeable {
    display: block;
  }
}

/*# sourceMappingURL=custom.css.map */
